<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <section name="ideablade.configuration" type="IdeaBlade.Core.Configuration.IdeaBladeSection, IdeaBlade.Core" /></configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <globalization culture="auto" uiCulture="auto" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>

  <!-- Remember to add your connection string(s) here -->
  <connectionStrings>
    <add name="AccoBookingEntities" connectionString="metadata=res://*/AccoBooking.csdl|res://*/AccoBooking.ssdl|res://*/AccoBooking.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Prod-AccoBooking;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SecurityEntities" connectionString="metadata=res://*/Security.csdl|res://*/Security.ssdl|res://*/Security.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=Test-AccoBooking.Security;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <!-- Remember to add your connection string(s) here --></connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  
  <ideablade.configuration xmlns="http://schemas.ideablade.com/2010/IdeaBladeConfig" version="6.00">
    <!-- Additional configuration can be added to override defaults. 
         See the sample config files in the Learning Resources for more information.
    -->
    <logging logFile="DevForceDebugLog.xml" shouldLogSqlQueries="true" />
    
  <!-- See the DevForce Resource Center for more information on configuration settings:
	 http://drc.ideablade.com/devforce-2012/bin/view/Documentation/deploy-iis#HConfiguration
    --></ideablade.configuration>
  <system.serviceModel>
    <!-- Set aspNetCompatibilityEnabled to true to allow use of ASP.NET security features. 
         Set multipleSiteBindingsEnabled to true for Azure or if your web site has multiple http bindings.
    -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false" multipleSiteBindingsEnabled="true" />
    <!-- You can add Service definitions to override the default configuration. 
         See the sample config files in the Learning Resources for more information.
    -->
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IdeaBlade.EntityModel" publicKeyToken="287b5094865421c0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4.0" newVersion="7.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IdeaBlade.Validation" publicKeyToken="287b5094865421c0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4.0" newVersion="7.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IdeaBlade.Core" publicKeyToken="287b5094865421c0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.4.0" newVersion="7.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>